*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #432818;
    color: #FFE6A7;
    text-align: center;
}
h1{
    background-color: #6F1D1B;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    cursor: pointer;
    background-color: #FFE6A7;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 2rem;
    margin: 3rem;
}
#user-score, 
#comp-score{
    font-size: 4rem;
}
#msg{
    background-color: #6F1D1B;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}